.chakra-checkbox__label {
    padding: 0 10px !important;
}

.css-pezv7i {
    right: unset;
    inset-inline-end: 0.5rem;
}

.nav-link {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */

    cursor: pointer;
}

.govsNav .nav-item .nav-link:hover {
    text-decoration: none;
    background-color: rgb(238, 238, 238);
    color: #196b63 !important;
}

.govsNav {
    height: 398px;
    overflow-y: scroll;
}

.govsNav .nav-item .nav-link {
    color: #26a69a !important;
}

.govsNav .nav-item .active {
    background-color: #26a69a !important;
    color: white !important;
}

.govsNav .nav-item .active:hover {
    color: white !important;
}

.inner-shadow {
    -moz-box-shadow: inset 0 0 20px #d4d3d3;
    -webkit-box-shadow: inset 0 0 20px #d4d3d3;
    box-shadow: inset 0 0 20px #d4d3d3;
    border-radius: 10px;
}

.govsNav .tab-content div {
    width: 100%;
}