/* .main-orders-navs * {
    border: none;
}

.main-orders-navs .nav .nav-link {
    background-color: white;
}

.main-orders-navs .nav .nav-link div {
    color: #3bb49d !important;
}

.main-orders-navs .nav .active {
    background-color: #3bb49d;
}

.main-orders-navs .nav .active div {
    color: white !important;
} */