/*
 * Main css File
*/

.Orders {
  background-color: brown;
  /* propertys here */
}

table.table.table-bordered.table-hover {
  width: 95%;
}

.table>:not(:first-child) {
  border-top: 2px solid var(--bs-gray-200);
}

button.accordion-button:focus:not(:focus-visible) {
  box-shadow: none;
}

.dropdown-item:focus,
.dropdown-item:hover,
.btn:hover {
  text-decoration: none;
}

thead th {
  text-align: center;
}

td {
  text-align: center;
}

.nav-tabs .nav-link {
  white-space: nowrap;
}

.highlight-row {
  background-color: rgba(0, 0, 0, .075);
}

.togo-button {
  background-image: linear-gradient(to left, #26a69a 0%, #69d4a5 100%);
  color: white;
}

.togo-dropdown {
  border: 2px solid var(--bs-gray-300);
  /* border-radius: 20px; */
}

input[type='radio']:after {}

.togo-text-secondary {
  color: #656767;
}

.togo-table td,
.togo-table th {
  text-align: left;
}

.togo-table thead::-webkit-scrollbar {
  visibility: hidden;
}

.m-inline-e-2 {
  margin-inline-end: 0.5rem;
}

@media print {
  .togo-header {
    display: none;
  }
}

.input-inner-shadow {
  -moz-box-shadow: inset 0 0 10px #d4d4d4;
  -webkit-box-shadow: inset 0 0 10px #d4d4d4;
  box-shadow: inset 0 0 10px #d4d4d4;
}

.custome-link {
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.34) !important;
}

.custome-link:hover {
  background-color: #165d56 !important;
}

.alignItemsLeft td {
  text-align: left;
}

.alignItemsLeft th {
  text-align: left;
}

.alignItemsRight td {
  text-align: right;
}

.alignItemsRight th {
  text-align: right;
}

.customListGroup .list-group-item {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* -------------( date picker )-------------- */

.react-datepicker-wrapper{
  /* text-align: center; */
}

.react-datepicker-wrapper > div > input{
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  /* justify-content: center; */
}

.react-datepicker-wrapper > div > input:hover{
  background-color: lightgray;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1; /* This makes the groups take equal space */
  margin-right: 10px; /* Add some space between the groups */
  max-width: 50%;
}

.form-group:last-child {
  margin-right: 0; /* Remove margin for the last group */
}

.form-label {
  flex: 1; /* Adjust this value to control label size */
  margin: 0px
}

.form-input {
  flex: 1; /* Adjust this value to control input size */
  max-width: 90%; /* Example fixed width for the input */
  margin: 0px;
  padding: 0px;
}
