/* ----------( arrow time line )--------- * /

/* Typography */


.trans-strike-across {
  position: relative; 
}


.trans-strike-across::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  margin-inline: 10px;
  background: red; /* Or whatever color you like */
  pointer-events: none;
}
.arrow .text {
	color: #ffffff;
	position: relative;
  right: 32%;
  transition: 0.3s 
}

.arrow .img {
		position: absolute;
	  right: 30px;
	  top: 0;
	}

.arrow .text .svg-icon {
  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 4;
}

.arrows {
	display: block;
	width: 100%;
	margin: auto 0;
	overflow: hidden; /* forces this div to 'contain' it's floated children */
	padding: 0 6px;
	position: relative;
}


/* Arrows - i.e. the box and the wedge */
.arrow {
	float: right;
	margin: 0;
	width: 20%;
	padding: 25px 10px;
	position: relative;
  cursor: pointer;
  transition: 0.3s ;
}

/* edited */
.arrow:hover {
  background-color: #237971;
}

/* edited */
/* .arrow:hover .text {
  color: black;
} */

.arrow div {
  transition: 0.3s ;
  z-index: 3;
}

.arrow:hover div {
  left:8% !important;
  top: 5px !important;
  width: 60px !important;
  height: 60px !important; 
  background: linear-gradient(90deg, #26a69a, #69d4a5) !important;
  border: 5px solid white;
}


.arrow:after {
	border-top: 34px solid transparent;
	border-bottom: 34px solid transparent;
	border-right: 17px solid transparent; /* unnecessary here... it's only for reference. */
	content: "";
	height: 0;
	position: absolute;
	left: -17px;
	top: 0;
	width: 0;
	z-index: 2;
}

.arrow:last-child:after {
	border: none;
	left: 0;
}


/* Colour each section */
.step1 {background-color: #26a69a;}

.step2 {background-color: #69d4a5;}

.step3 {background-color: #26a69a;}


/* Colour the wedge to match it's associated box */
.arrow.step1:after {
   border-right: 17px solid #26a69a;
  transition: 0.3s ; 
}

.arrow.step2:after { 
  border-right: 17px solid #69d4a5;
  transition: 0.3s ;
 }

/* edited */
.arrow.step1:hover:after { 
  border-right: 17px solid #237971; 
}

/* edited */
.arrow.step2:hover:after { 
  border-right: 17px solid #237971; 
}

.arrow:first-child {
  border-radius: 0 6px 6px 0;
}

.arrow:last-child {
  border-radius: 6px 0 0 6px;
}

/* edited */
.arrow:hover .text {
  right: 35%;
}

@media only screen and (max-width: 1440px) {
	.arrow { width: 31.5%;}
  .arrow:first-child {
    border-radius: 0 6px 0 0;
  }
  
  .arrow:last-child {
    border-radius: 0 0 0 6px;
  }

  /* Typography */
  .arrow .text {
    right: 30%;
  }

  /* edited */
  .arrow:hover .text {
    right: 33%;
  }
}

@media only screen and (max-width: 1000px) {
	/*.arrows {overflow: visible;}*/ /* May be needed for some browsers. Need to test. */
	
	.arrow {
		float: none;
		padding: 25px 30px;
		text-align: right;
		width: 100%;
	}
	
	.arrow:first-child {
		border-radius: 6px 6px 0 0;
	}
	
	.arrow:last-child {
		border-radius: 0 0 6px 6px;
	}
	
	.arrow:after {
		top: auto;
		bottom: -23px;
		left: 30px;
		background-color: transparent;
		border-top: 15px solid transparent;
		border-left: 15px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 17px solid transparent;
	}
	
	.arrow.step1:after {
		border-top-color: #26a69a;
		border-right-color: transparent
	}
	
	.arrow.step2:after {
		border-top-color: #69d4a5;
		border-right-color: transparent;
	}

  /* edited */
  .arrow.step1:hover:after { 
    border-top: 17px solid #237971; 
  }

  /* edited */
  .arrow.step2:hover:after { 
    border-top: 17px solid #237971; 
  }

  /* edited */
  .arrow.step1:hover:after { 
    border-right: 17px solid transparent;
  }

  /* edited */
  .arrow.step2:hover:after { 
    border-right: 17px solid transparent; 
  }

  .arrow .text {
    right: 20%;
  }

  /* edited */
  .arrow:hover .text {
    right: 23%;
  }
}