

table{
border: 1px solid black;
height: 9.5cm;
max-height: 9.5cm;
width: 10cm;
max-width: 10cm;

font-family: cairo;
table-layout: fixed;
border-collapse: collapse;
font-size: 1.5rex;
}

td{
    display: table-cell;
    border: 1px solid black;
    text-align: center;
    padding-inline: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-lines: 2;
}

.addressRow td{
    text-align: start;

}
.codRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



